#{box-sizing: border box;}
body {
    font-family: roboto,san-serif;
    font-weight: 400;
}
headings {
    georgia: 400,700;
}
colors:{
   primary-color: #58111a;
   color: #283618;
   accent-color: #bc6c25;
}
h1 {
    font-weight: 100;
}